#cluster-map{
    width: 100%;
    height: 500px;
}

#map{
    width: 100%;
    height: 300px
}

body{
    height: 100vh;
    
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    url("https://images.unsplash.com/photo-1445308394109-4ec2920981b1?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174");
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 
    
}
/* body:before{
    position:fixed; 
    content: "";
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
} */
 .card{
     background-color: rgba(255, 255, 255, 0.8)
 }

 h2, h3, legend, label{
     color: white;
 }